ACTION=="add", SUBSYSTEM=="input", ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/bin/insmod /home/octo/little-penguin/ex04/main.ko"
ACTION=="remove", SUBSYSTEM=="input", ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/bin/rmmod /home/octo/little-penguin/ex04/main.ko"
