ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="80ee", ATTRS{idProduct}=="0021", RUN+="/sbin/insmod /home/octo/little-penguin/ex04/main.ko"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="80ee", ATTRS{idProduct}=="0021", RUN+="/sbin/rmmod /home/octo/little-penguin/ex04/main.ko"
